<div class="page-header">
  <h1 style = "color:#771100">Stock Info <small style = "color:#003366">Track you favorite stocks.</small></h1>
</div>
<p>
    <ul class = "welcome-page-text">
        <li><h4>Add your favorite Stocks and start tracking them from your Portfolio.</h4></li>
        
        <li><h4>Add new friends and take a look at their profiles.</h4></li>
        <li><h4>Have a look at what stocks your friends are tracking.</h4></li>
        <li><h4>Not happy with your profile no problem! Edit your profile or cancel your account.</h4></li>
        <li><h4>Stock Info your own space to track your favorite stocks.</h4></li>
    </ul>
</p>